[submodule "pleak-backend"]
	path = pleak-backend
	url = https://github.com/pleak-tools/pleak-backend
[submodule "pleak-sql-editor"]
	path = pleak-sql-editor
	url = https://github.com/pleak-tools/pleak-sql-editor
	branch = develop
[submodule "pleak-frontend"]
	path = pleak-frontend
	url = https://github.com/pleak-tools/pleak-frontend
[submodule "pleak-pe-bpmn-editor"]
	path = pleak-pe-bpmn-editor
	url = https://github.com/pleak-tools/pleak-pe-bpmn-editor
